<div class="container">
  <!-- Content here -->
  <div class="form-group justify-content-center">
    <form action="/filter" id="filter" onchange="filter.submit()">
      <select class="form-control" id="category" name="category">
        <option value="all" {{{eq category 'all' }}}>全部</option>
        <option value="home" {{{eq category 'home' }}}>家居物業</option>
        <option value="transportation" {{{eq category 'transportation' }}}>交通出行</option>
        <option value="entertainment" {{{eq category 'entertainment' }}}>休閒娛樂</option>
        <option value="food" {{{eq category 'food' }}}>餐飲食品</option>
        <option value="else" {{{eq category 'else' }}}>其他</option>
      </select>
    </form>
  </div>
  <div class="row mt-5 ml-5 mr-5">
    <div class="col-md-4 ">
      <div class="h3 ">總金額</div>
    </div>
    <div class="col-md-4 ">
      <div class="h2 text-danger" id="amountShow">{{totalAmount records}}</div>
    </div>
  </div>
</div>

{{#each records}}
<div class="row mt-3 ml-5">
  {{!-- 左 --}}
  <div class="col-sm">
    <div class="h3">
      <i class="{{this.category.categoryIcon}} fa-1x mr-2"></i>
      {{this.name}}
    </div>
    <div>{{this.date}}</div>
  </div>

  {{!-- 中 --}}
  <div class="col-sm">
    <div class="col-1 h3 text-danger" style="display: flex; align-items: center; justify-content: center;">
      {{this.amount}}</div>
  </div>
  {{!-- 右 --}}
  <div class="col-sm">
    <div>
      <a class="btn btn-success" href="./records/{{ this._id }}/edit">修改</a>
      <form action="./records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
        <button class="btn btn-danger" type="submit">刪除</button>
      </form>
    </div>
  </div>
</div>
{{/each}}
</div>
<div class="my-1 text-center">
  <a class="add-btn btn btn-info mr-5" href="./records/new" role="button">新增支出</a>
</div>
</div>